img{

    width: 25%;
    border:2px solid violet;
     border-radius:2px;
     float: left;
}

.side{

    width: 50%;
    padding: 20px;
    background-color: violet;
    color: black;
    float: right;
    border: 2px dashed rgb(211, 29, 16);
    
}